<!-- Footer -->
<footer class="template-footer clearfix">
    <div class="left">
        {{widget('profile', 'profile1', { 'profileType':'socialicons' })|raw}}
    </div>
    <div class="right">
        {{widget('profile', 'profile1', { 'profileType':'copyright' })|raw}}
       </div>
</footer>
<!-- End Footer -->
